<div class="card">
  <h3>
    <%= results[0].name %>
  </h3>
  <img src="<%= results[0].image %>" alt="image" />
  <p>Category: <%= results[0].category %></p>
  <p>Rating: <%= results[0].rating %></p>
  <p>Open Now: <%= results[0].hours %></p>
  <p><a href="<%= results[0].url %>">External Link</a></p>
</div>
